/*
Design by Metamorphosis Design
http://www.metamorphozis.com
Released for free under a Creative Commons Attribution 2.5 License
*/

*
{
    margin: 0px;
    padding: 0px;
}

a:link {
    color: #1F5111;
}

a:hover {
    text-decoration: none;
    color: #FF0000;
}

a:visited {
    color: #1F5111;
}

body {

    background: #1A71CC url(images/back_all.gif) repeat-x;
    font: 13px Arial, Helvetica, sans-serif;
    color: #666666;
}

#content
{

}

#back{
    width: 1029px;
    margin: 0 auto;
}

#header {
    height: 57px;
    text-align: left;
}

#menu{
    
    height: 57px;
    margin-top: 10px;
    margin-bottom: 5px;
    background: url(images/menu.jpg) no-repeat;
}

#menu ul {
    width: 960px;
    list-style: none;
    margin: 0 auto;
    
}

#menu li {

    display: inline;

}


#menu a {
    float: left;
    width: 20%;
    height: 43px;
    display: block;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    font-weight: normal;
    padding-top: 14px;
    font-size: 24px;
    font-family: Georgia
}

#menu a:hover {
    height: 57px;
    color: #ffffff;
    text-decoration: none;
    background: url(images/menu_h.jpg);
    background-repeat: repeat-x;
    background-position: top;
}


#logo {
    background: url(images/header.jpg) no-repeat;
    width: 709px;
    height: 184px;
    text-align: left;
    padding-top: 100px;
    padding-left: 320px;
    margin-bottom: 10px;
}


#logo a {
    text-decoration: none;
    text-transform: lowercase;
    font-style: italic;
    font-size: 24px;
    color: #0956AF;
}

#logo H1
{
    padding: 0px;
    margin: 0px;
}

#logo H2 a
{
    font-size: 10px;
    padding: 0px;
    margin: 0px;
}

#main
{
    margin-top: 10px;
    background: #ffffff
}

#left
{
    width: 305px;
    margin-left: 14px;
}

#left H3
{
    width: 305px;
    height: 42px;
    font-family: Georgia,'Times New Roman',times,serif;
    font-size: 23px;
    font-weight: normal;
    text-align: center;
    padding-top: 12px;
    color: #ffffff;
    background: url(images/title_left.jpg);
    background-repeat: no-repeat;
    background-position: top left;

}

#left ul {
    list-style: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

#left .categories ul li{
    padding-left: 20px;
    background: url(images/ls1.jpg);
    background-repeat: no-repeat;
    background-position: left 3px;
    margin-top: 10px;
    border-bottom: 1px dotted #000000;
    width: 180px;
    margin-left: 30px;
    padding-bottom: 2px;
}

#left .partners ul li{
    padding-left: 20px;
    background: url(images/ls2.jpg);
    background-repeat: no-repeat;
    background-position: left 3px;
    margin-top: 10px;
    border-bottom: 1px dotted #000000;
    width: 180px;
    margin-left: 30px;
    padding-bottom: 2px;
}

#left .categories ul li a, #left .partners ul li a{
    color: #3d3d3d;
    font-weight: bold;
    text-decoration: none;
}

#left a {
    color: #666666;
}


#left p
{
    padding: 10px;
}

#right .date2 {
    margin: 10px;
    padding: 0;
    padding-top: 3px;
}

#right ol, #right ul
{
    margin-left: 30px;
}

.date2 {
    float: left;
    width: 53px;
    height: 54px;
    background: url(images/date.gif) no-repeat;
    text-transform: uppercase;
    text-align: center;
    font-size: 8px;
    font-weight: bold;
    color: #FFFFFF;
    vertical-align: middle;
}


.date2 b {
    display: block;
    font-size: 35px;
    color: #2F6AA2;
}


#right
{
    float: right;
    width: 645px;
    padding-right: 10px;
}

#right H4
{
    font-family: Georgia,'Times New Roman',times,serif;
    font-size: 24px;
    color: #000000;
    font-weight: normal;
    padding-top: 15px;

}

#right H4 a
{
    color: #000000;
    font-weight: normal;
}

#right a
{
    color: #0b59b3;
    text-decoration: none;
    font-weight: bold;
}

#right p {
    margin: 0;
    padding: 0;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 20px;
}

#right h2 {
    margin: 0;
    padding: 0;
    padding-top: 10px;
    color: #1F5111;
}
.date {
    text-align: right;
    color: #808080;
    font-size: 11px;
}

.date a {
    color: #D72020;
}

#mainbot{
    background: url(images/mainbot.jpg);
    background-repeat: no-repeat;
    background-position: top left;
    height: 33px;
    width: 1029px;
}

.bot_col{
    width: 960px;
    margin: 0 auto;
}

.col1,.col2,.col3{
    float: left;
    width: 320px;
}

.col1 p,.col2 p,.col3 p{
    color: #ffffff;
    padding-left: 80px;
    padding-right: 10px;
}

.bot_col h2{
    font-family: Georgia,'Times New Roman',times,serif;
    font-weight: normal;
    font-size: 23px;
    color: #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
}


#footer {
    height: 50px;
    clear: both;
    padding-top: 20px;
}

#footer p {
    margin: 0;
    font-size: 10px;
    text-align: center;
    color: #ffffff;
}

#footer a {
    color: #ffffff;
}